html {
  background-color: black;
}

@media screen and (max-width: 900px) {
  .main {
    width: auto !important;
  }
  .main-content-container {
    display: grid !important;
  }
  .left-container {
    width: 100% !important;
  }
  .right-container {
    width: 100% !important;
  }
  .main-content-container .left-container .subcontent {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.main {
  width: 50%;
  border-radius: 1%;
  margin: auto;
  background-color: white;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grey-box {
  background-color: rgba(128, 128, 128, 0.55);
}

img {
  width: 70%;
  margin-top: 3px;
  border-radius: 20%;
}

.image {
  flex-basis: auto;
}

ul.too-many {
  column-count: 2;
  column-gap: 2em;
  flex-wrap: wrap;
  display: inline-block;
}

.text {
  padding-left: 1.5em;
}

p.small {
  line-height: 0.5;
}

p.big {
  line-height: 1.5;
}

p.mar {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.6em;
}

p.count {
  margin-top: 0em;
  margin-bottom: 0em;
}

.main-content-container {
  display: flex;
}

.left-container {
  display: grid;
  width: 20%;
}

.right-container {
  display: grid;
  width: 80%;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: lightblue;
}

.heading {
  height: fit-content;
}

.subcontent {
  margin: 0em;
  overflow: auto;
}
